* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgb(255,255,255),rgb(255, 83, 30));
}

.title {
    font-family: cursive;
    text-transform: uppercase;
    height: 100vh;
    font-size: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}